table.kalipsoTable {
	
}

table.kalipsoTable thead th.sort {
	position: relative;
	cursor: pointer;
}

table.kalipsoTable thead th.sort:before {
	position: absolute;
	width: 1.2rem;
	height: 1.2rem;
	content: '';
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTcuMDMgMTMuOTJIMTEuMDNWNUwxMy4wNCA0Ljk3VjEzLjkySDE3LjAzTDEyLjAzIDE4LjkyWiIgLz48L3N2Zz4=);
	background-repeat: no-repeat;
	background-size: 1.2rem;
	right: 1rem;
	top: calc(50% - 0.6rem);
	opacity: 0.2;
	transition: 0.1s ease-out;
}

table.kalipsoTable thead th.sort:after {
	position: absolute;
	width: 1.2rem;
	height: 1.2rem;
	content: '';
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTcuMDMgOS45N0gxMS4wM1YxOC44OUwxMy4wNCAxOC45MlY5Ljk3SDE3LjAzTDEyLjAzIDQuOTdaIiAvPjwvc3ZnPg==);
	background-repeat: no-repeat;
	background-size: 1.2rem;
	right: 0.5rem;
	top: calc(50% - 0.6rem);
	opacity: 0.2;
	transition: 0.1s ease-out;
}

table.kalipsoTable thead th.sort.asc:before {
	opacity: 1;
}

table.kalipsoTable thead th.sort.desc:after {
	opacity: 1;
}